<div class="container">

  <label for="marker-title">Marker title (Set instead of address if exists) </label>
  <input type="text"
        id="marker-title"
        #markerTitle>
  <hr>

  <label for="marker-type">Marker type (different images) </label>
  <select 
    id="marker-type"
    #markerType>
    <option value="job">Job</option>
    <option value="consult">Consult</option>
    <option value="help">Help</option>
    <option value="default" selected>Default</option>
  </select>
  <hr>

  <label>Search by address </label>
  <input type="text"
        class="form-control"
        (keydown.enter)="$event.preventDefault()"
        placeholder="Search Nearest Location"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        type="text"
        #search>

  <hr>

  <agm-map [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom"> <!--(mapClick)="onMapClick($event)" -->
    <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'"> 
      <agm-marker
        *ngFor="let m of markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [iconUrl]="m.image">
        <agm-info-window>
          <h3>{{ m.title || 'No title' }} </h3>
          <h5>Type: {{ m.type }}</h5>
          <br>
          <button (click)="onMarkerRemove(m)">Remove marker</button>
        </agm-info-window>
      </agm-marker>
    </agm-marker-cluster>
  </agm-map>

  <hr>
  <h2>Static map image</h2>
  <img src="{{ getStaticMapImage() }}" alt="static-map-image">
  <h4>Static map image (URL)</h4>
  <p>{{ getStaticMapImage() }}</p>
</div>
